<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyectofinal">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.PerfilMedico"></activity>
        <activity android:name="com.example.AgendarCita" />
        <activity android:name="com.example.AcercaDe" />
        <activity android:name="com.example.SeccionMedico.InfoPersonalMedico" />
        <activity android:name="com.example.SeccionMedico.Ars" />
        <activity android:name="com.example.SeccionMedico.Especialidad" />
        <activity android:name="com.example.SeccionMedico.RegistroMedico" />
        <activity android:name="com.example.SeccionMedico.DashboardMedico" />
        <activity android:name="com.example.SeccionMedico.MedicoLogin" />
        <activity android:name="com.example.SeccionPaciente.CambiarContrasena" />
        <activity android:name="com.example.SeccionPaciente.InformacionPersonal" />
        <activity android:name="com.example.SeccionPaciente.HistorialCitas" />
        <activity android:name="com.example.SeccionPaciente.RegistroPaciente" />
        <activity android:name="com.example.SeccionPaciente.PacienteLogin" />
        <activity android:name="com.example.MainActivity" />
        <activity android:name="com.example.PreLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>